*/__pycache__/
*.ipynb_checkpoints/
data/daily_microburst_catalogues/*
*.tar.gz
*.png
*.aux
*.log
*.synctex.gz
/plots/*
/data/z_daily_microburst_catalogues/*
*validation.pdf
*/binned_counts/
data/binned_counts_old/
